header{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgb(27, 27, 27);
    color:rgb(245, 243, 240);
}
a{
    text-decoration: none;
}
a:hover{
    font-style: italic;
    text-decoration: overline;
}
a{
    color: rgb(245, 243, 240);
}
ul{
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
}
.boton:hover{
    width: 120px;
    height: 40px;
}
h2 {
    background-color:rgb(75, 72, 72);
    color: rgb(232, 226, 226);
}
