/*ESTE CSS ES PARA LA PAGINA PRINCIPAL*/

.ul_Header{
    display: flex;
    gap: 30px;
    flex-direction:row;
}
a{
    text-decoration: none;
}
a:hover{
    font-style: italic;
    text-decoration: overline;
}
a{
    color: rgb(245, 243, 240);
}
header{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgb(27, 27, 27);
    color:rgb(245, 243, 240);
}
main{
    font-family:'Courier New', Courier, monospace;
}
footer{
    background-color: rgb(66, 64, 64);
    color:rgb(245, 243, 240);
}
h2{
    /*background-color: rgb(207, 213, 139);*/
    background-color:rgb(75, 72, 72);
    color: rgb(232, 226, 226);
}

@media (min-width: 768px) {

main{
    display: grid;
    grid-template-columns:1fr 2fr;
    grid-template-rows: auto auto;
    grid-template-areas: 'inicio datospersonales'
                        'contactar contactar';
}

#inicio{
    grid-area: inicio;
}

#datospersonales{
    grid-area: datospersonales;
}

#contactar{
    grid-area: contactar;
}
}